#tag1{
    background-color: cadetblue;
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}
#tag2{
    background-color: cadetblue;
    width: 200px;
    height: 200px;
    margin-left: 204px;
}
#tag3{
    background-color: cadetblue;
    width: 200px;
    height: 200px;
    margin-left: 404px;
}