/*LIST*/

/*List-Horizontal List with CSS*/
#tag1{
    list-style: none;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    background-color: #333333;
}
.tag1-li{
    float: left;
}
#tag1 a{
    text-decoration: none;
    display:block;
    /*or inline-block*/
    color: white;
    text-align: center;
    padding: 16px;
}
.tag1-li a:hover {
  background-color: #111111;
}