body{
    margin: 0px;
    background-color: #C1FFD7;
    text-align: center;
}


/* CONTENT SECTION */
#headername{
    width: 10%;
    margin: 0% auto 0% auto;
    font-family: 'Lobster', cursive;
}
#programmer{
    margin-bottom: 0px;
    margin-top: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* IMAGE SECTION */
#cloud{
    margin-left: 400px;  
}
#cloud1{
    position: absolute;
}


/* DIV SECTION */
#headerdiv{
    margin-top: 100px;
    margin-bottom: 0px;
}
#basediv{
    margin:0;
}